#image_unauthorized{
	background: url("/resources/style/img/unauthorized.jpg") no-repeat scroll 0 0 transparent;
	height: 330px;
	width: 960px;
	margin-left:300px;
	margin-top:100px;
	border-style:dashed;
	border-width:1px;
}
#back-login{
	padding-top:280px;
	margin-left:750px;
}
.backlogin{
	text-decoration: none;
}
#image_404{
	background: url("/resources/style/img/404.jpg") no-repeat scroll 0 0 transparent;
	height: 330px;
	width: 960px;
	margin-left:300px;
	margin-top:100px;
	border-style:dashed;
	border-width:1px;
}
#image_500{
	background: url("/resources/style/img/500.jpg") no-repeat scroll 0 0 transparent;
	height: 330px;
	width: 960px;
	margin-left:300px;
	margin-top:100px;
	border-style:dashed;
	border-width:1px;
}
